<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^cfornesa.github.com$ [OR]
  RewriteCond %{HTTP_HOST} ^www.cfornesa.github.com$
  RewriteRule (.*)$ https://cfornesa.github.com/projects$1 [R=301,L]
</IfModule>